* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.container nav.desk,
.container nav.mob .container {
  width: 100%;
  background: white;
  height: 10%;
  position: fixed;
  top: 0;
}

nav.desk ul {
  list-style: none;
  width: 60%;
  height: 20px;
  margin-left: 20%;
  margin-top: -2%;
}

nav.desk ul li {
  width: 20%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

nav ul :hover {
  background: black;
}

nav ul li a {
  color: #eb008b;
  text-decoration: none;
}

nav.mob,
.hamburger-btn {
  display: none;

}

td,
th {
  border: 1px solid black;
  background: white;
  color: black;
  text-align: center;
  font-family: sans-serif;
  padding: 1%;
  width: 1%;
}

.selector {
  color: #eb008b;
  font-size: 1rem;
  margin: 1em 1em;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}

.footerSecc {
  color: black;
  background-color: #eb008b;
  text-align: center;
  padding: 2%;
}

.button {
  background-color: #eb008b;
  padding: 0.35em 1.2em;
  border: 0.1em solid #eb008b;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-align: center;
}

.logo {
  width: 5%;
  height: auto;
  padding: 0%;
  margin: 1%;
}

.info {
  background-color: #eb008b;
  margin-block-start: 5%;
  text-align: center;
  padding: 15%;
  font-family: sans-serif;
  height: -webkit-fill-available;
  font-size: 100%;
}

.know {
  background-color: black;
  color: white;
  margin-block-end: 0%;
  margin-block-start: 0%;
  text-align: center;
  padding: 5%;
  font-family: sans-serif;
}

.select,
.total,
.faq {
  background-color: black;
  color: white;
  margin-block-end: 0%;
  margin-block-start: 0%;
  text-align: center;
  padding: 5%;
  font-family: sans-serif;
  margin-right: auto
}

.tableData {
  text-align: -webkit-center;
  background-color: black;
  height: auto;
  width: 60%;
  margin-block-start: 0%;
  margin-block-end: 0%;
  margin: auto;
}

.photos {
  background-color: #eb008b;
  text-align: center;
  align-content: center;
  padding: 5%;
  vertical-align: bottom;
  color: #ffffff;
}

.galleryPic {
  width: 30%;
  padding: 0.5%;
  align-content: center;
}

.transportType {
  display: inline-block;
  width: 10%;
  height: auto;
  padding: 5%;
}

.injuredPerson {
  padding: 2%;
}

.numeralresult {
  padding: 2%;
}


@media screen and (max-width: 700px) {
  nav.desk {
    display: none;
  }

  nav.mob,
  .hamburger-btn {
    display: block;
    width: 100%;
    background: white;
    height: 10%;
    position: fixed;
    top: 0;
  }

  .hamburger-btn {
    position: fixed;
  }

  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 35px;
    color: #eb008b;
    cursor: pointer;
  }

  .mob ul {
    margin-top: 60px;
    background: white;
    display: none;
  }

  .mob li {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }

  .galleryPic {
    color: #ffffff;
    width: 90%;
    padding: 5%;
    align-content: center;
  }

  .tableData {
    text-align: -webkit-center;
    background-color: white;
    height: auto;
    width: 100%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: auto;
  }

}
